*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-container{
  background:rgba(255,255,255,0.85);
  padding:30px 20px;
  border-radius:15px;
  text-align:center;
  width:500px;
}
#cityInput {
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}
#button {
  padding: 10px 20px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom:20px;
}
#button:hover{
  background-color:#0056b3;
}
p{
  margin:6px 0;
  font-size:16px;
  font-weight:500;
  color:#333;
  text-align: center;
  padding:10px;
  display:flex;
  flex-direction:column;
}
#heading{
  color:black;
  text-align:center;
}